[submodule "MX_V2"]
	path = MX_V2
	url = https://github.com/ai03-2725/MX_V2.git
[submodule "kbd"]
	path = kbd
	url = https://github.com/foostan/kbd.git
[submodule "Kicad-Footprints"]
	path = Kicad-Footprints
	url = https://github.com/davidphilipbarr/Kicad-Footprints.git
